# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
/local.properties

# Web related
lib/generated_plugin_registrant.dart

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
/lyrics2.jks
/lib/env.dart
/.gradle/gradle.properties
/android/app/google-services.json
/assets/queries.sql
macos/Flutter/ephemeral/flutter_export_environment.sh
macos/Flutter/ephemeral/Flutter-Generated.xcconfig
macos/Flutter/ephemeral/FlutterMacOS.podspec
macos/Flutter/ephemeral/.symlinks/plugins/cloud_firestore
macos/Flutter/ephemeral/.symlinks/plugins/firebase_auth
macos/Flutter/ephemeral/.symlinks/plugins/firebase_core
macos/Flutter/ephemeral/.symlinks/plugins/firebase_crashlytics
macos/Flutter/ephemeral/.symlinks/plugins/package_info_plus
macos/Flutter/ephemeral/.symlinks/plugins/path_provider_macos
macos/Flutter/ephemeral/.symlinks/plugins/sqflite
macos/Pods/Local Podspecs/FlutterMacOS.podspec.json
/.flutter/
/lib/firebase_options.dart
/firebase.json
