<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>338343364608-ddp38gm7jo0ncutldrlkqgrrd74spkhm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.338343364608-ddp38gm7jo0ncutldrlkqgrrd74spkhm</string>
	<key>API_KEY</key>
	<string>AIzaSyBunCPIDtg0QH3So_XcwWode56tLUZ7RWU</string>
	<key>GCM_SENDER_ID</key>
	<string>338343364608</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>it.zitzusoft.lyrics2</string>
	<key>PROJECT_ID</key>
	<string>lyrics2-e57e9</string>
	<key>STORAGE_BUCKET</key>
	<string>lyrics2-e57e9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:338343364608:ios:80cbf04eb4e6fe48ee30e5</string>
</dict>
</plist>